# Ignore components
docs/source/components.rst
docs/source/events.rst

# Ignore node_modules
node_modules/
package-lock.json

# Distribution / packaging
dist/
latest.zip


# Build
/docs/src
build/

# Log
*.log

# JetBrains project files
.idea
