/* Colors Kytos */

$kytos-white: #EEE !global;
$kytos-dark-white: #CCC !global;

$kytos-black: #222 !global;

$kytos-gray: #515151 !global;
$kytos-light-gray: #b3b3b3 !global;
$kytos-medium-gray: #414141 !global;
$kytos-dark-gray: #313131 !global;
$kytos-extra-dark: #2a2a2a !global;

$kytos-purple: #554077 !global;
$kytos-dark-purple: #322c5d !global;

$kytos-blue: #008690 !global;
$kytos-dark-blue: #233f55 !global;

$kytos-green: #8bc34a !global;
$kytos-yellow: #f9a825 !global;
$kytos-red: #dd2c00 !global;

/* Gradient BGs */

$kytos-gradient: $kytos-dark-purple linear-gradient(45deg, $kytos-dark-purple 50%,#68286a 100%,$kytos-dark-purple 100%,#207cca 100%) !global;
$gradient-dark: $kytos-extra-dark linear-gradient(-45deg, #111 0%,$kytos-extra-dark 30%,$kytos-extra-dark 30%) !global;
$gradient-gray: $kytos-gray linear-gradient(-45deg, $kytos-purple 0%,$kytos-gray 30%,$kytos-gray 50%) !global;
$gradient-dark-gray: $kytos-dark-gray linear-gradient(-45deg, $kytos-dark-purple 0%,$kytos-dark-gray 50%,$kytos-dark-gray 50%) !global;

/* UI: Elements and Actons */

$fill-bar: $kytos-black !global;
$fill-panel: $kytos-extra-dark !global;
$fill-panel-h: $kytos-dark-white !global;
$fill-panel-dark: $kytos-extra-dark !global;

$fill-link: $kytos-dark-blue !global;
$fill-link-h: $kytos-blue !global;

$fill-icon: $kytos-light-gray !global;
$fill-icon-h: $kytos-white !global;

$fill-text: $kytos-dark-white !global;
$fill-text-h: $kytos-white !global;

$fill-menubar: $kytos-medium-gray !global;
$fill-menubar-h: $kytos-purple !global;
$fill-menubar-b: $kytos-purple !global;

$fill-button: $kytos-light-gray !global;
$fill-button-bg: $kytos-medium-gray !global;
$fill-button-hover: $kytos-white !global;
$fill-button-bg-h: $kytos-gray !global;

$fill-input: $kytos-dark-white !global;
$fill-input-bg: $kytos-gray !global;
$fill-input-hover: $kytos-light-gray !global;

$fill-actionm-bg: $kytos-medium-gray !global;
$fill-shortkey: $kytos-blue !global;

